/* bio.css - Specific styles for the bio page */

.bio-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-content p {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
