/* index.css - Specific styles for the homepage */

.quote-section {
  /* scroll-snap-align: start; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.lacan-quote {
  font-family: var(--font-main);
  font-size: 1.25rem;
  max-width: 500px;
  line-height: 1.4;
  color: var(--text-color);
  opacity: 0.9;
}

.lacan-quote span {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  opacity: 0.7;
}
