/* tcc.css - Specific styles for the TCC page */

.tcc-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 12rem;
}
