/* article.css - Styles for text-heavy article pages */

.layout-article {
  margin-top: 10rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}

.layout-article h1 {
  font-family: var(--font-family-main);
  font-size: var(--text-xl);
  color: var(--text-color);
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

.layout-article h2 {
  font-family: var(--font-family-main);
  font-size: var(--text-lg);
  color: var(--text-color);
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

.layout-article p {
  font-family: var(--font-family-secondary);
  font-size: var(--text-base);
  color: var(--font-color);
  margin-bottom: 1.0rem;
}

.layout-article ul, ol{
  margin-bottom: 1.0rem;
}

.layout-article li {
  font-family: var(--font-family-secondary);
  font-size: var(--text-base);
  margin-left: 1.5rem;
  text-align: left;
}