

:root {
  --bg-color: #050505;
  --heading-color: #f7f7f7;
  --text-color: #e7e7e7;
  --text-color-muted: #a0a0a0;
  --font-family-main: 'Special Elite', system-ui;
  --font-family-secondary: 'Cormorant', serif;

  /* Fluid Typography Scale */
  --text-sm: clamp(0.875rem, 0.95rem + 0.25vw, 1.125rem);;
  --text-base: clamp(1rem, 1.05rem + 0.38vw, 1.3125rem);
  --text-lg: clamp(1.125rem, 1.15rem + 0.5vw, 1.5rem);
  --text-xl: clamp(1.25rem, 1.35rem + 0.75vw, 1.875rem);
  --text-2xl: clamp(1.5rem, 1.6rem + 1.38vw, 2.5625rem);
  --text-3xl: clamp(1.875rem, 1.6rem + 1.38vw, 2.5625rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-main);
  font-size: var(--text-base);
  color: var(--text-color);
  display: grid;
  grid-template-areas: "stack";
  justify-items: center;
  min-height: 100vh;
  padding: 0rem 2rem;
  position: relative;
  overflow-x: hidden;
  line-height: 1.6;
}

/* Page fade-in effect to feel like an SPA */
body {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  color: var(--text-color);
  text-decoration: underline;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.6;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

p {
  font-family: var(--font-family-secondary);
  font-size: var(--text-base);
  color: var(--font-color);
  margin-bottom: 1.0rem;
}


/* Main Content Container */
.main-content {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 900px;
  text-align: center;
  min-height: 100vh;
}



/* NAVIGATION COMPONENT */

.nav-section {
  /* scroll-snap-align: start; */
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: var(--font-family-main);
}

/* Navigation List (index page) */
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-list li {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--text-base);
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-list li:hover {
  opacity: 0.6;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.nav-list a {
  text-decoration: none;
}


