---
import BaseLayout from "../layouts/BaseLayout.astro";
import Portrait from "../components/Portrait.astro";
---

<BaseLayout title="bio - haruo g.">
	<section class="formal-content">
		<Portrait />
		<div class="my-description">
			<p>
				Gabriel Haruo Hanai Takeuchi. Baseado em São Paulo, SP, Brasil.
			</p>
			<p>
				Graduando em Ciência da Computação pelo IME-USP. Pesquisador em
				Computação Aplicada à Áudio & Música. Desenvolvedor de sistemas
				Web & Desktop. Cheque meu CV <a href="/cv">aqui</a>.
			</p>
			<p>
				Maker de equipamentos eletrônicos sonoros. Crio, construo e
				vendo sintetizadores e pedais de guitarra pela marca <a
					href="https://instagram.com/menis______"
					target="_blank"
					rel="noopener noreferrer">Menis</a
				>.
			</p>
			<p>
				Paralelamente, sou músico & produtor musical & engenheiro de som
				& designer gráfico & <i>blá, blá, blá</i> independente.
			</p>
		</div>
	</section>

	<section class="informal-content">
		<p>gosto de restaurantes pequenos e aconchegantes.</p>
		<p>não gosto de dias nublados.</p>
	</section>
</BaseLayout>

<style>
	/* bio.css - Specific styles for the bio page */

	/* FORMAL CONTENT */

	.formal-content {
		display: grid;
		grid-template-columns: auto auto;
		min-height: 100vh;
	}

	.formal-content p {
		font-family: var(--font-family-secondary);
		font-size: var(--font-size-secondary);
	}

	/* Ensure the parent doesn't clip the zoomed image or backdrop */
	.formal-content,
	.main-content {
		overflow: visible !important;
	}

	/* FORMAL DESCRIPTION */

	.my-description {
		justify-content: center;
		align-self: center;
		text-align: left;
	}

	/* INFORMAL CONTENT */

	.informal-content {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.informal-content p,
	li {
		font-family: var(--font-family-main);
		font-size: var(--text-base);
	}

	/* RESPONSIVE DESIGN */
	@media (orientation: portrait) {
		.formal-content {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
		}

		.my-description {
			align-self: start;
			margin: 0rem;
		}
	}
</style>
