---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/bio.css";
---

<BaseLayout title="bio - haruo g.">
	<section class="formal-content">
		<div class="my-portrait">
			<img src="/assets/eu.jpg" alt="Haruo" class="portrait-img" />
		</div>
		<div>
			<p>Gabriel Haruo. Baseado em São Paulo, SP - Brasil.</p>
			<p>
				Graduando em Ciência da Computação pelo IME-USP. Pesquisador em
				Computação Aplicada à Música. Desenvolvedor de sistemas Web &
				Desktop. Cheque meu CV <a
					href="/assets/cv-ptbr.pdf"
					target="_blank"
					rel="noopener noreferrer">aqui</a
				>.
			</p>
			<p>
				Maker de equipamentos eletrônicos sonoros. Crio, construo e
				vendo sintetizadores e pedais de guitarra digitais pela marca <a
					href="https://instagram.com/menis______"
					target="_blank"
					rel="noopener noreferrer">Menis</a
				>.
			</p>
			<p>
				Paralelamente, sou músico & produtor musical & engenheiro de som
				& designer gráfico & <i>etc, etc, etc</i> independente.
			</p>
		</div>
	</section>

	<section class="informal-content">
		<p>gosto de restaurantes pequenos e aconchegantes.</p>
		<p>não gosto de dias nublados.</p>
	</section>
</BaseLayout>
