---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";

const navItems = [
	{ href: "/bio", text: "bio" },
	{ href: "/cv", text: "cv" },
	{ href: "/softwares", text: "softwares" },
	{ href: "/hardwares", text: "hardwares" },
	{ href: "/musicas", text: "músicas" },
	{ href: "/imagens", text: "imagens" },
	{ href: "/videos", text: "vídeos" },
	{ href: "/tcc", text: "tcc" },
];
---

<BaseLayout title="haruo g.">
	<Nav items={navItems} />

	<section class="quote-section">
		<p class="lacan-quote">
			"O amor é dar algo que você não tem para alguém que não quer."
			<br />
			<span>- Jacques Lacan</span>
		</p>
	</section>
</BaseLayout>

<style>
	/* index.css - Specific styles for the homepage */

	.quote-section {
		/* scroll-snap-align: start; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	.lacan-quote {
		font-family: var(--font-family-main);
		font-size: var(--text-base);
		color: var(--text-color);
	}

	.lacan-quote span {
		display: block;
		margin-top: 1.5rem;
		font-size: var(--text-base);
		color: var(--text-color-muted);
	}
</style>
