---
import ArticleLayout from "../layouts/ArticleLayout.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import AlbumCard from "../components/AlbumCard.astro";
import { albums } from "../data/albums";

const leftCol = albums.filter((_, i) => i % 2 === 0);
const rightCol = albums.filter((_, i) => i % 2 === 1);
---

<ArticleLayout title="músicas - haruo g.">
	<ArticleHeader title="músicas">
		<p>
			Dê uma ouvida nos projetos solo que lancei. Nenhum desses álbuns
			está completo, já que produzo só de vez em quando. Mas ainda estão
			em andamento, vivos, e sem prazo pra serem finalizados.
		</p>
		<p>
			Quer ver outros singles? Acessa meu SoundCloud no ícone aí embaixo
			da página.
		</p>
	</ArticleHeader>
	<div class="music-container">
		<div class="music-col">
			{leftCol.map((album) => <AlbumCard {...album} />)}
		</div>
		<div class="music-col">
			{rightCol.map((album) => <AlbumCard {...album} />)}
		</div>
	</div>
</ArticleLayout>

<style>
	.music-container {
		display: flex;
		gap: 0rem;
		align-items: flex-start;
		width: 100%;
	}

	.music-col {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 0rem;
	}

	@media (max-width: 768px) {
		.music-container {
			flex-direction: column;
		}
	}
</style>
