---
import ArticleLayout from "../layouts/ArticleLayout.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import AlbumCard from "../components/AlbumCard.astro";
import { albums } from "../data/albums";
---

<ArticleLayout title="músicas - haruo g.">
	<ArticleHeader title="músicas" />
	<div class="music-container">
		{albums.map((album) => <AlbumCard {...album} />)}
	</div>
</ArticleLayout>

<style>
	.music-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		width: 100%;
		justify-items: center;
		align-content: center;
		min-height: calc(100vh - 12rem);
	}
</style>
