---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="softwares - haruo g.">
    <div style="display: flex; justify-content: center; width: 100%;">
        <p style="font-size: 1.5rem;">em construção...</p>
    </div>
</BaseLayout>
