---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="vídeos - haruo g.">
	<div
		style="display: flex; flex-direction: column; justify-content: center; min-height: 100vh;"
	>
		<p
			style="font-family: var(--font-family-main); font-size: var(--text-base);"
		>
			em construção...
		</p>
	</div>
</BaseLayout>
