---
import type { Tag } from "../data/tags";

interface Props {
	tags: Tag[];
}

const { tags } = Astro.props;
---

<div class="tag-container">
	{
		tags.map((tag) => (
			<span class={`tag ${tag.cssClass}`} data-category={tag.category}>
				{tag.label}
			</span>
		))
	}
</div>
