---
interface Props {
	title: string;
}

const { title } = Astro.props;

import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title={title}>
	<div class="layout-article">
		<slot />
	</div>
</BaseLayout>

<style>
	.layout-article {
		margin-top: 6rem;
		padding-bottom: 4rem;
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: stretch;
		width: 100%;
	}

</style>
