---
interface Props {
	title: string;
}

const { title } = Astro.props;

import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title={title}>
	<div class="layout-article">
		<slot />
	</div>
</BaseLayout>

<style>
	.layout-article {
		margin-top: 6rem;
		padding-bottom: 4rem;
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: left;
	}



	.layout-article :global(p) {
		font-family: var(--font-family-secondary);
		font-size: var(--text-base);
		color: var(--font-color);
		margin-bottom: 1rem;
	}

	.layout-article :global(ul),
	.layout-article :global(ol) {
		margin-bottom: 1rem;
	}

	.layout-article :global(li) {
		font-family: var(--font-family-secondary);
		font-size: var(--text-base);
		margin-left: 1.5rem;
		text-align: left;
	}
</style>
